.Container {
    display: table;
    width: 100%;
    background-position: center center;   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#ffffff;
  }
  
  .Content {
    margin: 50px auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  }
  
  /* Special */
  .Subtitle {
    font-size: 18px;
    line-height: 23px;
  }
    .Button {
    font-weight: bold;
    margin-top: 30px;
    color: #000000c0;
    border: #000000c0 1px solid;
    padding: 10px 5px;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1.25rem;
    border-radius: 5px;
    text-shadow: 0px 0px 0px #000000;

}
.Button:hover {
    background-color: #000000c0;
    color: #f1f1f1;
}

  .Video video{    
    text-align:center;
    align-content: center;
    height: 600px;
    width: 80%;
    margin: 0;
    padding: 0;
  }

  .Video video[poster]{
    object-fit: fill;


    }